@layer theme, base, mui, components, utilities;
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.light {
  --color-muted: #595959;
  --color-background-secondary: var(--color-gray-50);
  --color-border-muted: rgba(0, 0, 0, 0.1);
}

.dark {
  --color-muted: var(--color-text-disabled);
  --color-background-secondary: rgba(0, 0, 0, 0.2);
  --color-border-muted: rgba(255, 255, 255, 0.1);
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-muted: var(--color-muted);
  --color-background-secondary: var(--color-background-secondary);
  --color-border-muted: var(--color-border-muted);

  /* Material UI breakpoints */
  /* --breakpoint-sm: 37.5rem;  */
  /* --breakpoint-md: 56.25rem;  */
  /* --breakpoint-lg: 75rem;  */
  /* --breakpoint-xl: 96rem;  */
  /* --breakpoint-2xl: 120rem;  */

  /* Material UI theme colors */
  --color-primary: var(--mui-palette-primary-main);

  /* Material UI status colors */
  --color-error: var(--mui-palette-error-main);
  --color-success: var(--mui-palette-success-main);
  --color-warning: var(--mui-palette-warning-main);

  /* Material UI text & common colors */
  --color-text-disabled: var(--mui-palette-text-disabled);
  --color-divider: var(--mui-palette-divider);

  /* Material UI background colors */
  --color-background-default: var(--mui-palette-background-default);
  --color-background-paper: var(--mui-palette-background-paper);
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Arabic */
@font-face {
  font-family: "NotoKufi";
  src: url("./assets/fonts/NotoKufiArabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoKufi";
  src: url("./assets/fonts/NotoKufiArabic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoKufi";
  src: url("./assets/fonts/NotoKufiArabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoKufi";
  src: url("./assets/fonts/NotoKufiArabic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
